@keyframes spin {
    100% {
     transform: rotate(360deg);
    }
  }

  .loader {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(237.26deg, #0AC4FF, #7922A3 80%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', sans-serif;
    color: rgba(255, 255, 255, 0.884);

    &__spinner {
        margin-left: 1%;
        width: 20px;
        height: 20px;
        border: 5px solid rgb(255, 255, 255);
        border-left-color: rgba(255, 255, 255, 0.699);
        border-right-color: transparent;
        border-bottom-color: rgba(255, 255, 255, 0.384);
        border-radius: 100%;
        animation: spin 600ms infinite linear;
    }
  }
  