.error {
    &-message {
        color: red;
        font-size: 120%;

    }

    &-container {
        display: flex;
        justify-content: left;
        width: 25%;
    }
}

.input-data {
    font: {
        family: inherit;
        size: 120%;
    }
    outline: none;
    width: 25%;
    height: 4%;
    margin-top: 2%;
    margin-bottom: 0;
    padding-left: 7px;

    &_error {
        border: 2px solid red;
    }
}
