.container-chat {
    background-color: rgba(250, 250, 250, 0.788);
    width: 45%;
}

.select-chat {
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #4b1466;
    font-size: 120%;
}