.background {
    background: linear-gradient(237.26deg, #0AC4FF, #7922A3 80%);
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
}

.chat {
    font-family: 'Gill Sans', sans-serif;
    display: flex;
    justify-content: center;
    height: 100%;
    font-size: 100%;
}

.exit {
    width: 80%;
    height: 55%;
    background: transparent;
    font: {
        family: 'Gill Sans', sans-serif;
        weight: 500;
        size: 110%;
    }
    border: rgba(255, 255, 255, 0.712) 1px solid;
    color: rgba(255, 255, 255, 0.712);
    cursor: pointer;
    transition: .5s;
    outline: none;

    &:hover {
        border-radius: 10px;
        transition: .5s;
        border: white 1px solid;
        color: white;
    }
}

.side {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    width: 10%;
    height: 11%;
    top: 1%; 
    right: 0.5%;

    &__name {
        width: 100%;
        text-align: end;
        margin-top: 4%;
        color: white;
        font: {
            family: 'Brush Script MT';
            size: 190%;
        }
    }
}
