.active-user {
    height: 6%;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    border-bottom: rgba(255, 255, 255, 0.616) solid;
}

.active-user__img {
    width: 10%;
}

.active-user-info {
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    color: rgb(24, 0, 46);
    font-size: large;
    font-weight: 620;
    flex-grow: 2;
}

.active-user-info__messages {
    font-size: small;
    font-weight: 300;
}

.star-img {
    cursor: pointer;
    width: 6%;
    filter: grayscale(90%);
}