.message-form-container {
    border-top: rgba(255, 255, 255, 0.616) solid;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &__text{
        border-radius: 10px;
        outline: none;
        border: none;
        font-family: inherit;
        font-size: 100%;
        width: 88%;
        margin: 4% 4% 3% 4%;
        padding: 2%;
        background-color: rgba(255, 255, 255, 0.616);
    }

    &__button {
        font-family: inherit;
        margin-right: 4%;
        cursor: pointer;
        color: #7922A3;
    }
}